*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    height: 100vh;
}
header{
    background-color: rgb(198, 225, 240);
    width: 100%;
    min-height: 100px;
    max-height: 140px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    background-color: rgba(113, 110, 110, 0.518);
    height: 150px;
    color: black;
    font-size: 1em;
}
footer div{
    margin-right: 150px;
}
