/*Index_LP*/
body{
    margin: 0;
    padding: 0;
}
div.logo{
    height: auto;
    font-family: "Jaro";
    font-size: 3rem;
    display: inline-block;
    margin-left: 5%;  
}
.nav_lp{
    display: flex;
    flex-wrap: wrap;
}
.nav_lp a{
    text-decoration: none;
    color: black;
    background-color: rgb(235, 236, 237);
    padding: 4px 8px;
    border-radius: 5px;
}
.E{
    color:#056cf2;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;

}

.S{
    color: #0c87f2;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
}

.T{
    color: #0a7307;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
}

.U{
    color: #f2cb07;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
}

.D{
    color: #f24c27;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
}

.E2{
    color: #e8181c;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
}

.ponto{
   color: black;
   -webkit-text-stroke-width: 5px;
   -webkit-text-stroke-color: #000; 
}

.M{
    color: fuchsia;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
}

.Y{
    color: fuchsia;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #000;
}

nav{
    display: flex;
    justify-content: space-between;
}

div.quemsomos{
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    padding-right: 30px;
    margin-right: 55px;
    margin-left: auto;
}

.board img{
    min-width: 70px;
    width: 70%;
    align-items: center;
    align-content: center;
}

div.board{
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 5%;
    

}



.baloon1 img{
    animation: float 2s infinite;
    min-width: 52px;
    width: 90%;
}
.baloon2 img{
    animation: float 1.5s infinite;
    min-width: 45px;
    width: 70%;
    margin-top: 30%;
    align-items: center;
}
.baloon3 img{
    animation: float 1.8s infinite;
    min-width: 45px;
    width: 80%;
}

/* Animação de subir e descer */
@keyframes float {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-5px); /* Sobe 5px */
    }
    100% {
      transform: translateX(-50%) translateY(0); /* Volta */
    }
  }
 
div.baloons{
    padding-left: 20%;
    padding-top: 2%;
    padding-right: 5%;

    display: flex;
    gap: 2%;
    align-items: center;
    align-content: space-between;
}

div.board-content{
    display: flex;
    margin-right: 1vw;
}


div.table-content{
    display:flex;
    width: 100%;
    padding-bottom: 2%;
    align-content: baseline;

    }
.table img{
    min-width: 120px;
    width: 18vw;
    margin-left: 5%;
}
div.landing-page-title{
    display:flex;
    flex-direction: column;
    font-size: 1vw;
    font-family: "Poppins", serif;
    margin-left: 22%;
}
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }

 

button{
    display:flex;
    justify-content: center;
    width: 22vw;

}
.entrar{
    display: flex;
    flex-direction: column;
    align-items: center
}
.cadastrar{
    padding: 12px 24px; /* Espaçamento interno do botão */
    margin-bottom: 1%;
    background-color: #2b71c6; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 1.3vw; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    transition: background-color 0.3s, transform 0.3s; /* Efeitos de transição */
}
    
.cadastrar:hover {
    background-color: #66d0f9; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1); /* Efeito de aumentar o botão ao passar o mouse */
}

.cadastrar:focus {
    outline: none; /* Remove o contorno ao focar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra discreta ao focar */
}
.login{
    padding: 12px 24px; /* Espaçamento interno do botão */
    background-color: white; /* Cor de fundo do botão */
    color: #2b71c6;; /* Cor do texto */
    border: solid; /* Sem borda */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 1.3vw; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    transition: background-color 0.3s, transform 0.3s; /* Efeitos de transição */
}
    
    .login:hover {
        background-color: #eef8ff; /* Cor de fundo ao passar o mouse */
        transform: scale(1.1); /* Efeito de aumentar o botão ao passar o mouse */
    }

    .login:focus {
        outline: none; /* Remove o contorno ao focar */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra discreta ao focar */
    }

.footer_lp{
    margin: 0px 20%;
    bottom: 0;
    position: fixed;
    height: 28vh;
    width: 60%;
    text-align: center;
    background-color: rgba(253, 5, 253, 0.496);
    text-shadow: 1px 1px black;
    color: white;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.657);
    border-radius: 15px 15px 0px 0px;
}
    