body{
    margin: 0;
    padding: 0;
    width: 100%;
}
h2{
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 3rem;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 25%;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 238, 228);
}
label{
    color: #000000;
    font-weight: 800 !important;
    text-shadow: 1px 1px rgb(230, 164, 233);
    padding: 2px 6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    margin-top: 20px;
}
input{
    border-radius: 10px;
    margin: 10px 5px !important;
    padding: 2px 6px;
    font-size: 1.2rem !important;
}
textarea{
    border-radius: 10px;
    margin: 10px 5px !important;
    padding: 2px 6px;
    font-size: 1.2rem !important;
}
#btnForm{
    font-size: 1.6rem !important;
    border-radius: 20px !important;
    width: 10rem;
}
.buttons{
    display: flex;
    margin-top: 55px;
    justify-content: space-evenly;
    width: 100%m;
}
#titulo{
    width: 100%;
    height: 30px;
}
#descricao{
    width: 100%;
    height: 20rem;
}
.data{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.data label{
    margin-top: 0;
}
.priv{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 20px;
}
.priv label{
    margin-right: 30px;
    font-weight: normal !important;
    margin-top: 0 !important;
}

#privacidade{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#imagemTrilha{
    font-size: 1.2rem;
}
.fotoTrilha{
    display: flex;
    align-items:flex-start;
}
.carousel {
    position: relative;
    margin: 0px 50px;
    width: 40%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s;
  }

  .carousel-slide img {
    display: block;
    width: 100%;
    height: auto;
  }

  .carousel-slide a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 5px 15px;
    border-radius: 5px;
  }

  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media(min-width: 992px){
    main h2 {
        FONT-VARIANT: JIS83;
        font-size: 3rem;
        font-weight: 600;
        background: linear-gradient(45deg, #056cf2, #fe57da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}